/*https://stackoverflow.com/questions/37373734/fully-circular-buttons-with-dynamic-size*/
/* https://codepen.io/ysoftaoglu/pen/qZRGzK */
/* Traditional */
.round-button-traditional {
  height: 30px;
  width: 30px;
  text-align: center;
  display: inline-block;  
  background-color: #ddebf4;
  padding: 1px;
  margin: 1px;
  border: 1px solid #fff;
  cursor: pointer;
  letter-spacing: 2px;
  position:relative;
  border-radius: 50%;
  overflow: hidden;
}

.round-button-traditional:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background : #fff;
  left: 0;
  bottom: 0;
  transition: all .3s;
  opacity: 0.3;
  border-radius: 50%;
}

.round-button-traditional:hover:before {
  width: 100%;
}

.round-button-traditional-popped {
  height: 30px;
  width: 30px;
  text-align: center;
  display: inline-block;  
  background-color: #68899f;
  padding: 1px;
  margin: 1px;
  border: 1px solid #fff;
  cursor: pointer;
  letter-spacing: 2px;
  position:relative;
  border-radius: 50%;
  overflow: none;  
  opacity: 0.3;
}

.round-button-traditional-popped:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background : #fff;
  left: 0;
  bottom: 0;
  transition: all .3s;
  opacity: 0.3;
  border-radius: 50%;
}

/* Blue */
.round-button-blue{
  /*min-width: 60px;
  max-width:60px;*/
  height: 30px;
  width: 30px;
  text-decoration: none;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-style: none;
  color: white;
  background-color: #3498db;
  border-radius: 50%;
  overflow: none;
  text-align: center;
  padding: 5px;
  margin: 5px;
}
.round-button-blue:before {
  content:'';
  display:inline-block;;
  vertical-align:middle;
  padding-top:100%;
}
.round-button-blue:active{
  background-color: #2980b9;
}

.round-button-blue-popped{
  /*min-width: 60px;
  max-width:60px;*/
  height: 30px;
  width: 30px;
  text-decoration: none;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-style: none;
  color: white;
  background-color: #000000;
  border-radius: 50%;
  overflow: none;
  text-align: center;
  padding: 5px;
  margin: 5px;
}
.round-button-blue-popped:before {
  content:'';
  display:inline-block;;
  vertical-align:middle;
  padding-top:100%;
}
.round-button-blue-popped:active{
  background-color: #000000;
}

/* Purple */
.round-button-purple{
  /*min-width: 60px;
  max-width:60px;*/
  height: 30px;
  width: 30px;
  text-decoration: none;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-style: none;
  color: white;
  background-color: #a36ec4;
  border-radius: 50%;
  overflow: none;
  text-align: center;
  padding: 5px;
  margin: 5px;
}
.round-button-purple:before {
  content:'';
  display:inline-block;;
  vertical-align:middle;
  padding-top:100%;
}
.round-button-purple:active{
  background-color: #a36ec4;
}

.round-button-purple-popped{
  /*min-width: 60px;
  max-width:60px;*/
  height: 30px;
  width: 30px;
  text-decoration: none;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-style: none;
  color: white;
  background-color: #000000;
  border-radius: 50%;
  overflow: none;
  text-align: center;
  padding: 5px;
  margin: 5px;
}
.round-button-purple-popped:before {
  content:'';
  display:inline-block;;
  vertical-align:middle;
  padding-top:100%;
}
.round-button-purple-popped:active{
  background-color: #000000;
}

/* Magnitude */
.round-button-magnitude{
  /*min-width: 60px;
  max-width:60px;*/
  height: 60px;
  width: 90px;
  text-decoration: none;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-style: none;
  color: white;
  background-color: #3498db;
  background-image: url("images/magnitude100.png");
  /* background-size: cover; */
  /* background-image: 'images/magnitude100.png'; */
  border-radius: 50%;
  overflow: none;
  text-align: center;
  padding: 5px;
  margin: 5px;
}
.round-button-magnitude:before {
  content:'';
  display:inline-block;;
  vertical-align:middle;
  padding-top:100%;
}
.round-button-magnitude:active{
  background-color: #2980b9;
}

.round-button-magnitude-popped{
  /*min-width: 60px;
  max-width:60px;*/
  height: 60px;
  width: 90px;
  text-decoration: none;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-style: none;
  color: white;
  background-color: #000000;
  background-image: url("images/magnitude-popped.png");
  border-radius: 50%;
  overflow: none;
  text-align: center;
  padding: 5px;
  margin: 5px;
}
.round-button-magnitude-popped:before {
  content:'';
  display:inline-block;;
  vertical-align:middle;
  padding-top:100%;
}
.round-button-magnitude-popped:active{
  background-color: #000000;
}

[type^="text"] {
  margin: 5px 5px 5px 5px;
}

@media (max-width: 767.98px) {
  [type^="text"] {
    width: 160px;
    margin: 0px 0px 0px 0px;
  }
}

textarea {
  margin: 5px 5px 5px 5px;
  overflow: auto;
  resize: none;
}

@media (max-width: 767.98px) {
  textarea{
    margin: 0px 0px 0px 0px;
  }
}

.clickCopy::-moz-selection { /* Code for Firefox */
  color: #000;
  background: #f9f9fa
}

.clickCopy::selection {
  color: #000;
  background: #f9f9fa
}

/*
 * Tooltip
 */
 .tooltip.show {
   opacity: 1.0;
 }

 .bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
   border-top-color: #d9ffc2;
   opacity: 1.0;
 }

 .tooltip-inner {
   color: #000;
   font-weight: bold;
   opacity: 1.0;
   background-color: #d9ffc2;
 }
 