/*https://stackoverflow.com/questions/37373734/fully-circular-buttons-with-dynamic-size*/
.round-button{
  min-width: 60px;
  max-width:120px;
  text-decoration: none;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-style: none;
  color: white;
  background-color: #3498db;
  border-radius: 100%;
  overflow: none;
  text-align: center;
  padding:0;
}
.round-button:before {
  content:'';
  display:inline-block;;
  vertical-align:middle;
  padding-top:100%;
}
span {
  display:inline-block;
  vertical-align:middle;
  max-width:90%;
}
.round-button:active{
  background-color: #2980b9;
}


table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}

th {
  padding: 8px;
  text-align: center;
  border: 1px solid #000;
  background-color: #77dfff;
  width: 120px
}

tr:hover {
  background-color: #ffff99;
}

tr:nth-child(even):hover {
  background-color: #ffff99;
}

tr:nth-child(even) {background-color: #77ffdb;}

.trSolid:hover {
  background-color: #fff
}

.trSolid:nth-child(even):hover {
  background-color: #fff
}

.trSolid:nth-child(even) {background-color: #fff;}

td {
  border: 1px solid #000;
  text-align: center
}

.btn-grid {
  float: center;
  width: 320px;
  font-weight:bold;
  margin: 10px 0px 10px 0px;
}

[type^="text"] {
  margin: 5px 5px 5px 5px;
}

@media (max-width: 767.98px) {
  [type^="text"] {
    width: 160px;
    margin: 0px 0px 0px 0px;
  }
}

textarea {
  margin: 5px 5px 5px 5px;
  overflow: auto;
  resize: none;
}

@media (max-width: 767.98px) {
  textarea{
    margin: 0px 0px 0px 0px;
  }
}

.clickCopy::-moz-selection { /* Code for Firefox */
  color: #000;
  background: #f9f9fa
}

.clickCopy::selection {
  color: #000;
  background: #f9f9fa
}

/*
 * Tooltip
 */
 .tooltip.show {
   opacity: 1.0;
 }

 .bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
   border-top-color: #d9ffc2;
   opacity: 1.0;
 }

 .tooltip-inner {
   color: #000;
   font-weight: bold;
   opacity: 1.0;
   background-color: #d9ffc2;
 }
